%td= link_to("Show Applications", pool_applications_path(job_application_pool), title: "Show all job applications belonging to this pool")
%td= link_to("", edit_pool_path(job_application_pool), class: "edit-icon", title: "Edit this pool")
%td= link_to("", pool_path(job_application_pool), class: "delete-icon", title: "Delete this pool", method: :delete, data: { confirm: "Are you sure?" })
