<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @job_application_pool.user %>
</p>


<%= link_to 'Edit', edit_job_application_pool_path(@job_application_pool) %> |
<%= link_to 'Back', job_application_pools_path %>
