%div.five.columns
 
 %h4 Job Application Pools
 Welcome! A job application pool is a collection of job applications, grouped for
 easy reference. 
 - if @job_application_pools.empty?
  Create a new pool using the form on the right.
 - else
  The current pools on this system are shown in the table on the
  right.
  %p
%div.eleven.columns
 - if @job_application_pools.empty?
  = render :partial => "job_application_pools/form"
 - else
  %div.job-application-pools
   %table
    %thead
     %tr
      %th User
      %th Description
      %th N/app
      %th Updated
      %th
      %th
      %th= link_to "", new_pool_path, remote: true, class: "add-icon toggle-button", title: "Create a new job application pool"
    %tbody
     = render :partial => @job_application_pools
%br.clear
