%div.coverletter
 %div.clcontent
  This is some text from the <b>show</b> view of the CoverLetter
  controller.


= render :partial => "cover_letters/parts/letterhead"
= render :partial => "cover_letters/parts/letterfoot"
= render :partial => "operations"
