%div.five.columns

 %h4 Job Applications
 The job applications belonging to the current pool are shown in the
 table on the right. To add a new application to this pool, use the
 button below.
 %p
 = link_to 'Create Job Application', new_pool_application_path, :class => 'button'

%div.eleven.columns

%br.clear
