%div.letterhead
 %span.address
  Shaun Ashby
  xxxxxxxxxxxxxxx
  xxxxxxxxxxxxx
  xxxxxx
  email: xxxxx@xxxxxx

 %span.application_target_address
  address of the target company

 %span.date
  11/03/13
