body {
	background: #fff;
	font: 14px/24px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
 }

.ijd-header {
	position: relative;
	background: #333; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #333 0%, #000 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#333), color-stop(100%,#000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #333 0%,#000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #333 0%,#000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #333 0%,#000 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover, #333 0%,#000 100%); /* W3C */
}

.ijd-header .container {
	padding: 100px 0;
}

.ijd-header h1 {
	font: 48px/36px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: -3px;
	color: #fff;
	position: relative;
	margin-bottom: 5px;
}

.ijd-header h3 {
	font: 16px/26px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
	color: #fff;
}

.ijd-header .stripes {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.ijd-header .stripes {
	background: url(stripes.png) repeat;
}
