/* -*- CSS -*- */

body {
	background: #fff;
	font: 14px/24px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
 }

h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

/* From the scaffold generator, to be modified later */
p, ol, ul, td {
  font-size: 12px;
  line-height: 22px;
}

table {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

.jobapplication {
      background-color: rgb(237, 247, 250);
      td {
	 font-size: 14px;
	 text-align: left;
	 font-family: 'courier';
      }
}

.dossier {
      background-color: rgb(237, 247, 250);
      td {
	 font-size: 14px;
	 text-align: left;
	 font-family: 'courier';
      }
}

th {
  background-color: #ddd;
  text-align: center;
}

td {
    text-align: center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

input {
      margin-bottom: 0px;
}

fieldset {
	 border: 1px solid #ccc;
	 padding: 5px;
	 width: 800px;
}

select {
       display: inline;
       width: 100px;
}

legend {
    font-size: 13px;
}

label {
    font-weight: normal;
    font-size: 12px;
}

/* Button Styles */

a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: rgb(248,239,6);
	text-transform: lowercase;
}

/* Error message and information message styles */
#notice {
    border: 1px solid darkgreen;
    color: green;
    font-weight: bold;
    background-color: rgb(195, 243, 186);
    text-align: center;
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.field_with_errors {
  padding: 2px solid red;
  display: table;
  input, select, textarea {
    background-color: pink;
    border: 1px solid red;
  }
}

#error_explanation {
  width: 450px;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul {
    padding-top: 5px;
    padding-left: 40px;
    font-size: 12px;
  }
  li {
    font-size: 12px;
    list-style: square;
    margin-bottom: 6px;
  }
}
